#nha-tho-con-ga {
	background: url("../../images/kienTrucDaLat/kien-truc-da-lat-nha-tho-con-ga.jpg") center/cover no-repeat;
	min-height: 300px;
}

#truong-dai-hoc-da-lat {
	background: url("../../images/kienTrucDaLat/kien-truc-da-lat-truong-dai-hoc-da-lat.jpg") center/cover no-repeat;
	min-height: 300px;
}

#ga-xe-lua-da-lat {
	background: url("../../images/kienTrucDaLat/kien-truc-da-lat-ga-xe-lua-da-lat.jpg") center/cover no-repeat;
	min-height: 300px;
}

#dinh-bao-dai {
	background: url("../../images/kienTrucDaLat/kien-truc-da-lat-dinh-bao-dai.jpg") center/cover no-repeat;
	min-height: 300px;
}

#nha-tho-domaine-de-marie {
	background: url("../../images/kienTrucDaLat/kien-truc-da-lat-nha-tho-domaine-de-marie.jpg") center/cover no-repeat;
	min-height: 300px;
}
